body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    width: 100%;
}
.load{
    background-image:linear-gradient(to left,rgb(223, 173, 173) ,rgb(247, 242, 242), rgb(132, 200, 212))
}
.detailss{
    text-align: center;
}
.tab,th,td { 
    color: rgb(19, 18, 18);
    margin: 16px;
    border:2px solid rgb(225, 48, 48);
    border-collapse:collapse;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}
tr:nth-child(even){
    background-color: cyan;
    color: black;
}
tr:nth-child(odd){
    background-color: rgb(229, 255, 0);
    color: black;
    opacity: .3px;
}

.ol{
    margin-left: 435px;
    padding: 25px;
    text-align:justify;
}
.ol:hover   {
    color: rgb(246, 5, 190);
}
.atag:hover{
    color: rgba(239, 235, 14, 0.835);
}
.rows{
    padding:20px;
    margin:4px;
}
.forms{
    text-align: center;
    border-radius: 1px solid black;
}
.imgs{
    text-align: center;
}
.headd{
    text-align: center;
}
.txt{
    text-align: center;
}
.links{
    text-align: center;
}
.para{
    text-align: center;
}
.tabs{
    text-align: center;
}
.tab{
    margin-left: 350px;
}
.spann{
    margin-left: 450px;
    width:90%;
    padding: 15px;
}
.dllist{
    text-align: center;
}
.borders{
    /* text-align: center; */
    border-style:dotted;
    margin-left: 470px;
    width: 200px;
    background-color: rgb(239, 197, 145);
    color: black;
}
.borders:p{
    border-style: dashed;
}
.csss{
    color: brown;
}
.colorr{
    background-color: aqua;
    width: 280px;
    text-align:center;
    height: 20px;
    margin-left: 440px;

}.colorr1{
    background-color: rgb(170, 255, 0);
    width: 280px;
    text-align:center;
    height: 20px;
    margin-left: 440px;

}.colorr2{
    background-color: rgb(60, 255, 0);
    width: 280px;
    text-align:center;
    height: 20px;
    margin-left: 440px;

}.colorr3{
    background-color: rgb(255, 234, 0);
    width: 280px;
    text-align:center;
    height: 20px;
    margin-left: 440px;

}